.navigation {
    background: #FAF5EF;
    position: relative;
    display: flex;
}
.logo {
    background: #FAF5EF;
    position: absolute;
    background-image: url("..images/iou-logo.png");
    background-repeat: no-repeat;
    background-position: center;
}

